* {
  margin: 0;
}

body {
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}

.color-select-wrapper {
  /* position: fixed; */
  position: relative;
  margin-left: 30px;
}

.color-select-wrapper .box {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.border-select {
  border: 2px solid red;
}

.color-select-wrapper .box:hover {
  cursor: pointer;
}

.color-select-wrapper .box.yellow {
  background-color: yellow;
}

.color-select-wrapper .box.green {
  background-color: green;
}

.color-select-wrapper .box.blue {
  background-color: blue;
}

/* SVG */

.object:hover {
  cursor: pointer;
  fill: #ff31382d;
}

.yellow {
  fill: yellow;
  background-color: yellow;
}

.red {
  fill: red;
  background-color: red;
}

.green {
  fill: green;
  background-color: green;
}

/* MODAL ======================= */

body .modal .modal-dialog .modal-content .modal-body {
  display: flex;
  justify-content: space-around;
}

body .modal .modal-dialog .modal-content .modal-body .box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .modal .modal-dialog .modal-content .modal-body .box-wrapper .color {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .modal .modal-dialog .modal-content .modal-body .box-wrapper .color input {
  width: 20px;
  height: 20px;
}

body .modal .modal-dialog .modal-content .modal-body .box-wrapper p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}
